/* style.css */

/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* body style */ 
body {
    background-color: lightblue; /* placeholder */
    border: thick solid darkblue; /* placeholder to see where things are */
}

/* container style */
.container {
    background-color: pink; /* placeholder */
    text-align: center;
    border: thick solid red; /* placeholder to see where things are */
    max-width: 1500px;
    margin: auto;
}

/* game layout style */
.game-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

/* player username inputs */
.player-section {
    width: 20%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
}

input {
    padding: 0 5px;
}

#player1,
#player2 {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
}

/* game section with alert text */
.game-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* turn padding */
h2 {
    padding-bottom: 10px;
}

/* board style */
.board {
    display: grid;
    place-self: center;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: purple; /* placeholder */
}

/* board cell style */
.cell {
    background-color: white; /* placeholder */
    font-size: 3rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

/* cell hover default color */
.cell:hover {
    background-color: lightgray; 
}

/* player 1 hover color */
.board.player1-turn .cell:hover:empty {
    background-color: lightcoral; /* placeholder */
}

/* player 2 hover color */
.board.player2-turn .cell:hover:empty {
    background-color: lightblue; /* placeholder */
}

/* new game button */
.button {
    background-color: green; /*placeholder */
    border: none;
    border-radius: 8px;
    width: 170px;
    color: white; /*placeholder */
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white; /*placeholder */
    color: green; /*placeholder */
    border: 2px solid green; /*placeholder */
}

/* game alert padding */ 
.alerts {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* score tracker */
.tracker {
    margin-top: -20px;
    padding-bottom: 10px;
}