/* style.css */

/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* body style */ 
body {
    background-color: lightblue; /* placeholder */
    border: thick solid darkblue; /* placeholder to see where things are */
}

/* container style */
.container {
    background-color: pink; /* placeholder */
    text-align: center;
    border: thick solid red; /* placeholder to see where things are */
    display: grid;
}

/* turn and winner announcement padding */
h1,
h2 {
    padding: 10px;
}

/* board style */
.board {
    display: grid;
    place-self: center;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: purple; /* placeholder */
}

/* new game button */
.button {
    background-color: green; /*placeholder */
    border: none;
    border-radius: 8px;
    width: 170px;
    color: white; /*placeholder */
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white; /*placeholder */
    color: green; /*placeholder */
    border: 2px solid green; /*placeholder */
}

/* win tracker */
.tracker {
    padding-top: 10px;
}

/* game alert padding */ 
.alerts,
.finished {
    padding-bottom: 10px;
}