/* style.css */

/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* body style */ 
body {
    background-color: lightblue; /* placeholder */
    border: thick solid darkblue; /* placeholder to see where things are */
}

/* container style */
.container {
    background-color: pink; /* placeholder */
    text-align: center;
    border: thick solid red; /* placeholder to see where things are */
    display: grid;
}

/* board style */
.board {
    display: grid;
    place-self: center;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: purple; /* placeholder */
}